#layout-footer {
  color: white;
  position: fixed;
  bottom: 0; /* Stick to the bottom */
  width: 100%; /* Full width */
  z-index: 100; /* Adjust z-index as needed */
  
  a {
    color: white;
    text-decoration: none;
  }

  background: grey;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;

  .footer-nav {
    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-right: 10px; /* Adjust as needed */
      }
    }
  }
}
