
body {
    background: #fefae0; /* Replace 'your-image-url.jpg' with the path to your image */
    background-size: cover; /* This ensures that the background image covers the entire container */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    // color: azure;
}

#home-container{
    display:flex;
    // position: absolute;
    #feed-posts{
        width: 50%;
        padding:10px;
        border-right:1px solid black;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #user-friends{
        width:30%;
        padding:10px;
        // position: relative;
    }

    #interest{
        width:20%;
        border-right:1px solid black;
        // position: relative;
    }
}