
body {
    background: #fefae0; /* Replace 'your-image-url.jpg' with the path to your image */
    background-size: cover; /* This ensures that the background image covers the entire container */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    // color: azure;
}

#home-container{
    display:flex;
    #feed-posts{
        width: 70%;
        padding:10px;
        border-right:1px solid black;
    }

    #user-friends{
        width:30%;
        padding:10px;
    }
}