#layout-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  /* Set your desired background color */
  padding: 10px;
  text-align: center;
  display: none;
  /* Initially hide the footer */ }

/* Show the footer when the user reaches the bottom of the page */
body {
  margin-bottom: 100px;
  /* Adjust the margin to the height of your footer */ }

body.show-footer #layout-footer {
  display: block; }
